{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>GOC Automation Platform</title>
    <!-- CSS files -->
    <link href="{% static 'plugin/tabler/css/tabler.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'plugin/tabler/css/tabler-flags.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'plugin/tabler/css/tabler-vendors.min.css' %}" rel="stylesheet"/>
    <style>
      @import url('{% static 'plugin/tabler/css/inter.css' %}');
      :root {
      	--tblr-font-sans-serif: 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
      }
      body {
      	font-feature-settings: "cv03", "cv04", "cv11";
      }
    </style>
  </head>
  <body  class=" d-flex flex-column bg-white">
    <div class="row g-0 flex-fill">
      <div class="col-12 col-lg-6 col-xl-4 border-top-wide border-primary d-flex flex-column justify-content-center">
        <div class="container container-tight my-5 px-lg-5">
          <!-- LOGO -->
          <div class="text-center mb-4">
            <a href="." class="navbar-brand navbar-brand-autodark"><img src="{% static 'image/goc_logo.png' %}" height="70" alt=""></a>
          </div>
          <h2 class="h3 text-center mb-3">
            GOC Automation Platform
          </h2>
          <form id="loginForm">
            {% csrf_token %}
            <input type="text" class="form-control visually-hidden" id="SSOIdToken" name="SSOIdToken">
            <div class="mb-3" id="loginErrorAlertArea">
              <label class="form-label">Username</label>
              <input type="text" class="form-control" id="loginid" name="loginid" value="{{ request.user_account.last_login }}" placeholder="User ID / Email address">
              <div class="invalid-feedback">Username can't be empty!</div>
            </div>
            <div class="mb-2">
              <label class="form-label">Password</label>
              <input type="password" class="form-control" id="loginpwd" name="loginpwd" placeholder="Your password">
              <div class="invalid-feedback">Password can't be empty!</div>
            </div>
            <div class="mb-2">
              <label class="form-check">
                <input type="checkbox" class="form-check-input" name="rememberme" checked />
                <span class="form-check-label">Remember me on this device</span>
              </label>
            </div>
            <div class="form-footer">
              <button type="button" id="login_btn" class="btn btn-primary w-100">Sign in</button>
            </div>
          </form>
          <div class="hr-text">or</div>
          <div class="card-body">
            <div class="row">
              <div class="col">
                <button type="button" id="sso_login_btn" class="btn w-100">
                  <!-- Download SVG icon from https://tabler.io/icons/icon/brand-azure -->
                  <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-azure"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6 7.5l-4 9.5h4l6 -15z" /><path d="M22 20l-7 -15l-3 7l4 5l-8 3z" /></svg>
                  Login with SSO
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6 col-xl-8 d-none d-lg-block">
        <!-- Photo -->
        <div class="bg-cover h-100 min-vh-100" style="background-image: url({% static 'image/BOSCH_Kampagnen_Key_visual.jpg' %})"></div>
      </div>
    </div>
  </body>
    <!-- Load js -->
    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'plugin/tabler/js/tabler.min.js' %}" defer></script>
    <script>
        // SSO Login Handle
        window.onload = function () {
          // Clear the id token when page onload
          $('#SSOIdToken').val();
          let currentURL = window.location.href;
          if (currentURL.indexOf("id_token") > 0) {
            let idToken = currentURL.split("&")[0].split("id_token=")[1];
            $('#SSOIdToken').val(idToken);
            // Login request
            $.ajax({
                url: "{% url 'login_handle' %}"
                , method: 'POST'
                , data: $('#loginForm').serialize()
                , dataType: 'json'
                , success: function (res) {
                    // Show error according to response code
                    if (res.code == 0) {
                        window.location.replace("{% url 'main' %}");
                    } else {
                        addErrorMsg('loginErrorAlertArea', res.error);
                        $('#loginid').removeClass('is-invalid');
                        $('#loginpwd').removeClass('is-invalid');
                    }
                }
            });
          }
        }
        
        // Initiate function
        $(function () {
            // Initiate login
            login();
            // Monitor Enter keydown trigger login
            $('#loginpwd').keydown(function (event) {
                // 13 is Enter
                if (event.keyCode == 13) {
                    $('#login_btn').trigger('click');
                }
            });
        });

        // Validate loginid and password input
        function inputValidate() {
            // Clear error msg
            $('#loginid,#loginpwd').removeClass('is-invalid')

            // Validate if the input is empty
            let validateFlag = true;
            $.each($('#loginid,#loginpwd'), function (key, value) {
                if ($(value).val() == '') {
                    $(value).addClass('is-invalid');
                    validateFlag = false;
                }
            });

            return validateFlag;
        }


        // Create alert
        function addErrorMsg(field,msg) {
            $(".alert").remove()
            $("#" + field).prepend('<div class="alert alert-warning" role="alert"><div class="text-muted"><b>Incorrect username or password.</b></div></div>');
        }

        // Submit login by Ajax
        function login() {

          $('#login_btn').on('click', function () {
              // Validate if the input is empty
              if (inputValidate()) {
                  // Login request
                  $.ajax({
                      url: "{% url 'login_handle' %}"
                      , method: 'POST'
                      , data: $('#loginForm').serialize()
                      , dataType: 'json'
                      , success: function (res) {
                          // Show error according to response code
                          console.log(res.code)
                          if (res.code == 0) {
                              window.location.replace("{% url 'main' %}");
                          } else {
                              addErrorMsg('loginErrorAlertArea', res.error);
                              $('#loginid').removeClass('is-invalid');
                              $('#loginpwd').removeClass('is-invalid');
                          }
                      }
                  });
              }
          });

          $('#sso_login_btn').on('click', function () {
            let clientId = 'cc7e4667-ee68-4548-880d-e44f551c4c68';
            let REDIRECT_URL = 'https://rb-goc-automation.bosch.com/user/login/'
            window.location.href = `https://login.microsoftonline.com/0ae51e19-07c8-4e4b-bb6d-648ee58410f4/oauth2/v2.0/authorize?client_id=${clientId}&response_type=id_token&redirect_uri=${REDIRECT_URL}&scope=openid email profile&nonce=${Math.floor(Math.random()*100000)+1}`;
          });
        }
    </script>
</html>